/*! system-font.css v2.0.2 | CC0-1.0 License | github.com/jonathantneal/system-font-css */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"),
    local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"),
    local("Segoe UI Light Italic"), local("Ubuntu Light Italic"),
    local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"),
    local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"),
    local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"),
    local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"),
    local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"),
    local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"),
    local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"),
    local(".HelveticaNeueDeskInterface-MediumItalicP4"),
    local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"),
    local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"),
    local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"),
    local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"),
    local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"),
    local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"),
    local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"),
    local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-size: 17px;
  line-height: normal;
  padding-top: 3em;
}
body,
button,
input,
textarea {
  font-family: system-ui;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
small {
  font-size: 14px;
}
a {
  transition: 0.1s all;
  color: #000;
}
a:hover {
  text-decoration: none;
}
a:hover > * {
  opacity: 0.8;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row-flex {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row-flex > * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}
ol,
p,
ul {
  line-height: 1.3;
  margin-bottom: 1.2em;
}
.t-center {
  text-align: center;
}
.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.gray-clr {
  color: #555;
}
.red-clr {
  color: #cd071b;
}
.h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 3em;
  }
  .h1 img {
    position: relative;
    bottom: -3px;
  }
}
@media screen and (max-width: 360px) {
  .h1 {
    font-size: 2.5em;
  }
}
.h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1.2em;
}
.h3 {
  font-size: 2em;
}
.intro-section {
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background: url(../img/YT-bg.png) center 155px no-repeat; */
  padding-top: 30px;
  padding-bottom: 7em;
}
.intro-section > div:first-child {
  position: relative;
  width: calc(50% - 30px);
}
.intro-section > div:first-child:after {
  content: "";
  width: 92px;
  height: 92px;
  /* background-image: url(../img/share.svg); */
  position: absolute;
  top: -30px;
  right: -110px;
}
@media screen and (max-width: 1024px) {
  ol br,
  p br,
  ul br {
    display: none;
  }
  .intro-section > div:first-child:after {
    top: -70px;
    right: -30px;
  }
}
@media screen and (max-width: 960px) {
  .intro-section {
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center center;
    padding-bottom: 3em;
  }
  .intro-section > div:first-child:after {
    top: inherit;
    bottom: -80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* background-image: url(../img/share-w.svg); */
  }
  .intro-section > div:first-child {
    width: calc(66.66666666666667% - 30px);
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .intro-section > div:first-child {
    width: calc(83.33333333333334% - 30px);
  }
}
@media screen and (max-width: 480px) {
  .intro-section > div:first-child {
    width: calc(100% - 30px);
  }
}
.intro-section > div:last-child {
  width: calc(41.66666666666667% - 30px);
  margin-left: calc(8.333333333333334% + 15px);
}
@media screen and (max-width: 1024px) {
  .intro-section > div:last-child {
    width: calc(50% - 30px);
    margin-left: calc(0% + 15px);
  }
}
@media screen and (max-width: 960px) {
  .intro-section > div:last-child {
    width: calc(66.66666666666667% - 30px);
  }
}
@media screen and (max-width: 768px) {
  .intro-section > div:last-child {
    width: calc(83.33333333333334% - 30px);
  }
}
@media screen and (max-width: 480px) {
  .intro-section > div:last-child {
    width: calc(100% - 30px);
  }
}
.form {
  background-color: #fff;
  border: 2px solid #cd071b;
  border-radius: 8px;
  padding: 1.2em 0.5em 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.yt-section {
  color: #fff;
  background-color: #130f0e;
}
.yt-section .row-flex {
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.yt-section .row-flex > div:first-child {
  width: calc(50% - 30px);
}
@media screen and (max-width: 960px) {
  .yt-section {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .yt-section .row-flex > div:first-child {
    width: calc(41.66666666666667% - 30px);
  }
}
@media screen and (max-width: 600px) {
  .intro-section {
    background-size: 100% auto;
  }
  .yt-section .row-flex {
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .yt-section .row-flex > div:first-child {
    width: calc(66.66666666666667% - 30px);
    margin-bottom: 1em;
  }
}
.yt-section .row-flex > div:last-child {
  width: calc(50% - 30px);
}
.sm-visible {
  display: none;
}
.author-section {
  background-color: #e5e5e5;
}
.author-section .bg {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  min-height: 920px;
  padding-top: 100px;
  /* background: url(../assets/shakhruz.jpg) center 0 no-repeat; */
}
@media screen and (max-width: 768px) {
  .sm-visible {
    display: block;
  }
  .author-section .bg {
    padding-top: 2.5em;
    padding-bottom: 2em;
    min-height: 0;
    background-image: none;
  }
}
.author-section .view {
  margin-bottom: 2em;
  padding-bottom: 29px;
  position: relative;
  width: calc(58.333333333333336% - 30px);
}
.author-section .view:after {
  content: "";
  width: 20px;
  height: 29px;
  /* background: url(../img/say.svg) no-repeat; */
  position: absolute;
  right: 15px;
  bottom: 0;
}
.author-section .view > div {
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 960px) {
  .yt-section .row-flex > div:last-child {
    width: calc(58.333333333333336% - 30px);
  }
  .author-section .view > div {
    padding: 25px;
  }
}
.author-section .view p:last-child {
  margin-bottom: 0;
}
.author-section .bio > div {
  width: calc(41.66666666666667% - 30px);
}
@media screen and (max-width: 1024px) {
  .author-section .view {
    width: calc(66.66666666666667% - 30px);
  }
  .author-section .bio > div {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 768px) {
  .author-section .view {
    width: calc(100% - 30px);
    margin-bottom: 1em;
  }
  .author-section .view:after {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .author-section .bio > div {
    width: calc(100% - 30px);
  }
}
.red-2-clr {
  color: #7e0a15;
}
.red-2-clr.underline {
  border-color: rgba(126, 10, 21, 0.5);
}
.features-section {
  padding-top: 2em;
  padding-bottom: 3em;
}
.features-section .h2 {
  padding-top: 1em;
}
.features-section .row-flex > div {
  width: calc(25% - 30px);
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .features-section .row-flex > div {
    width: calc(50% - 30px);
  }
}
.h4 {
  font-size: 1.25em;
}
.final-section {
  background-color: #e5e5e5;
  padding-top: 4em;
}
.final-section .bg {
  position: relative;
  overflow: hidden;
  padding-bottom: 4em;
}
.final-section .bg:after {
  content: "";
  width: 100%;
  height: 761px;
  /* background: url(../img/YT-bg.png) center 0 no-repeat; */
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}
@media screen and (max-width: 600px) {
  .features-section .row-flex > div,
  .yt-section .row-flex > div:last-child {
    width: calc(100% - 30px);
  }
  .final-section .bg:after {
    background-size: 100% auto;
  }
}
.final-section .wrapper {
  position: relative;
  z-index: 2;
}
.final-section .h3 {
  font-size: 1.75em;
}
.final-section .h4 {
  margin-bottom: 2em;
}
.final-section .row-flex {
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.final-section .row-flex > div {
  width: 488px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .final-section .row-flex > div {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .final-section .row-flex > div {
    width: 100%;
  }
}
.footer-section {
  padding-top: 2.5em;
  padding-bottom: 1.2em;
  font-size: 14px;
  color: #888;
}
.footer-section a {
  color: #888;
}
.footer-section .row-flex {
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pic {
  width: 112px;
  height: 112px;
}

.fab {
  font-size: 100px;
  margin: 10px;
  color: #7e0a15;
}

.fas {
  font-size: 100px;
  margin: 10px;
  color: #7e0a15;
}
